*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C2C1C2 ;
}

.animated-button {
    background-color: #683257; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.5s ease;
}
.animated-button:hover {
    background-color: #42213D;
    transform: scale(1.1); 
}
